@model IEnumerable<BulkyBook.Models.Product>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">

    <div  class="row pt-4" >
        <div class="col-6">
            <h2 class="text-primary"> Product List</h2>
        </div>
        <div class="col-6 text-end">
            <div class="button">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                Create Product
            </a>
            </div>
        </div>
        
    </div>
   

    <table id="TblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    ISBN
                </th>
                <th>
                    Price
                </th>
                <th>
                   
                </th>
            </tr>
        </thead>
    </table>

</div>
<style>
    .button {
        margin-bottom: 20px; /* Add margin to the bottom of the div */
        padding-right: 10px; /* Add padding to the right of the div */
    }
</style>
@section Scripts
{
    <script src="~/js/product.js"></script>
}